- model_class = <%= singular_table_name.classify %>
.page-header
  = link_to t("helpers.links.back"), <%= index_helper %>_path, class: "btn btn-default pull-right"
  = link_to t("helpers.links.edit"), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-default pull-right mr-2"
  = link_to t("helpers.links.destroy"), <%= singular_table_name %>_path(@<%= singular_table_name %>), method: "delete",
            data: { confirm: t("helpers.links.confirm") }, class: "btn btn-danger pull-right mr-2"
  %h1=t "helpers.titles.show", model: model_class.model_name.human

%table.table.ui.blue.celled
<%- attributes.each do |column| -%>
  %tr
    %th.th-label= model_class.human_attribute_name(:<%= column.name %>)
    %td= @<%= singular_table_name %>.<%= column.name %>
<%- end -%>
