= form_for [:manage, @space], html: { class: "form form-horizontal space" } do |f|
  = render '/validation_message', object: @space
  .form-group
    = f.label :name, class: "control-label col-lg-2"
    .col-lg-10
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :image, class: "control-label col-lg-2"
    .col-lg-10
      - if @space.image?
        = image_tag @space.image.url, :size => "80x80"
        %br
      = f.file_field :image, class: 'form-control'
      = f.hidden_field :image_cache
      -if @space.persisted? && @space.image?
        = f.check_box :remove_image
        画像を削除
  .form-group
    = f.label :detail, class: "control-label col-lg-2"
    .col-lg-10
      = f.text_area :detail, class: "form-control"
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.hidden_field :facility_id
      = link_to t("helpers.links.cancel"), manage_facility_path(id: @space.facility.id), class: "btn btn-default"
      = f.submit nil, class: "btn btn-primary"
